In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [11]:
df = pd.DataFrame({'value': [10, 14, 12, 23]}, index=['A', 'A', 'B', 'B'])
df.index.values

array(['A', 'A', 'B', 'B'], dtype=object)

In [30]:
my_stat = pd.read_csv('Data/my_stat.csv')
my_stat

     V1    V2 V3   V4
0     2  13.0  B  1.0
1    -1   7.0  B  1.0
2     0  11.0  A  0.0
3     2  11.0  A  2.0
4     0  10.0  B -1.0
..   ..   ... ..  ...
495   1   8.0  A -1.0
496   3   8.0  A  1.0
497  -1  11.0  B  2.0
498   1  11.0  A  2.0
499   0   8.0  B  1.0

[500 rows x 4 columns]

In [45]:
subset_1 = my_stat.iloc[:10, [0, 2]]
subset_2 = my_stat.iloc[lambda x: (x.index != 0) or (x.index != 4), [1, 3]]
subset_2

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [14]:
my_stat

     V1    V2 V3   V4
0     2  13.0  B  1.0
1    -1   7.0  B  1.0
2     0  11.0  A  0.0
3     2  11.0  A  2.0
4     0  10.0  B -1.0
..   ..   ... ..  ...
495   1   8.0  A -1.0
496   3   8.0  A  1.0
497  -1  11.0  B  2.0
498   1  11.0  A  2.0
499   0   8.0  B  1.0

[500 rows x 4 columns]

In [21]:
%timeit subset_1 = my_stat.loc[(df['V1'] > 0) & (my_stat['V3'] == 'A')]
%timeit subset_2 = my_stat.loc[(df['V2'] != 10) | (my_stat['V4'] >= 1)]

421 µs ± 27.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
372 µs ± 22.2 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [27]:
%timeit subset_3 = my_stat.query('V1 > 0 & V3 == "A"')

1.18 ms ± 60.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [34]:
my_stat['V5'] = my_stat['V4'] + my_stat['V1']
my_stat['V6'] = np.log(my_stat.V2)
my_stat.head()

   V1    V2 V3   V4   V5        V6
0   2  13.0  B  1.0  3.0  2.564949
1  -1   7.0  B  1.0  0.0  1.945910
2   0  11.0  A  0.0  0.0  2.397895
3   2  11.0  A  2.0  4.0  2.397895
4   0  10.0  B -1.0 -1.0  2.302585

V1 -> session_value
V2 -> group
V3 -> time
V4 -> n_users

In [41]:
my_stat.drop(['V5', 'V6'], axis=1, inplace=True)

In [43]:
my_stat.rename(columns={
    'V1': 'session_value',
    'V2': 'group',
    'V3': 'time',
    'V4': 'n_users'})

     session_value  group time  n_users
0                2   13.0    B      1.0
1               -1    7.0    B      1.0
2                0   11.0    A      0.0
3                2   11.0    A      2.0
4                0   10.0    B     -1.0
..             ...    ...  ...      ...
495              1    8.0    A     -1.0
496              3    8.0    A      1.0
497             -1   11.0    B      2.0
498              1   11.0    A      2.0
499              0    8.0    B      1.0

[500 rows x 4 columns]

In [111]:
my_stat = pd.read_csv('Data/my_stat_1.csv')

In [112]:
my_stat

   session_value  time group  n_users
0            0.0    12     B        9
1            NaN    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9
5            3.0     8     A        8
6            NaN    11     B        5
7            0.0     9     A        4
8            0.0     8     B      -11
9            0.0     9     A      -20

In [85]:
my_stat['session_value'].fillna(value=0, inplace=True)

In [101]:
median_n_users = my_stat.loc[my_stat['n_users'] > 0, ['n_users']].median()
median_n_users

   session_value  time group  n_users
1            NaN    11     A       -1
8            0.0     8     B      -11
9            0.0     9     A      -20

In [142]:
my_stat = pd.read_csv('Data/my_stat_1.csv')
my_stat['session_value'].fillna(value=0, inplace=True)
my_stat.loc[my_stat.n_users < 0, ['n_users']] = my_stat.loc[my_stat['n_users'] > 0]['n_users'].median()
my_stat

   session_value  time group  n_users
0            0.0    12     B        9
1            0.0    11     A        5
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9
5            3.0     8     A        8
6            0.0    11     B        5
7            0.0     9     A        4
8            0.0     8     B        5
9            0.0     9     A        5

In [150]:
my_stat = pd.read_csv('Data/my_stat_1.csv')
mean_session_value_data = my_stat.groupby('group', as_index=False).agg({'session_value': 'mean'}).rename(columns={'session_value':'mean_session_value'})
mean_session_value_data

  group  mean_session_value
0     A                 1.0
1     B                 1.0

In [2]:
from datasets import get_dataset
url = 'https://stepik.org/media/attachments/course/4852/my_stat_1.csv'
p = 'Data'
print(get_dataset(url, p))

Success!!!
Data/my_stat_1.csv